/lib/python2.*
/bin
/build
/db
/dist
/include
*.pyc
/media
/original_data
/share
/static
/src
/venv
/venv32
*.org
*.sqlite
/ipy_conf.py
*.egg-info
/.idea
/.venv
/.dev/
/dev/__pycache__/
/ylaneenkasvit/local_settings.py
/kasvimuseo/.pytest_cache/
/.pytest_cache/
/.coverage
