.fieldset_column {
  float: left;
  margin-right: 1em;
}

#contact_form input.vTextField,
#contact_form textarea.vLargeTextField {
  width: 20em;
}

#contact_form fieldset.module {
  width: 36em;
}

#planting_form #care_set-group textarea.vLargeTextField {
  height: 4em;
}

#changelist-form td {
  max-width: 13em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#changelist-form td:hover {
  white-space: normal;
  overflow: visible;
}
