.fieldset_column {
  float: left;
  margin-right: 1em;
}

#contact_form input.vTextField,
#contact_form textarea.vLargeTextField {
  width: 20em;
}

#contact_form fieldset.module {
  width: 36em;
}

#planting_form #care_set-group textarea.vLargeTextField {
  height: 4em;
}

#changelist-form td.fieldname_admin_thumbnail a img { margin: -9px 0 -13px 0; }

#changelist-form td {
  max-width: 13em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#changelist-form td:hover {
  white-space: normal;
  overflow: visible;
}

@media print {
    #header,
    #breadcrumbs,
    .module.footer,
    #footer,
    h1 + .tools,
    .fieldname_action_checkbox,
    .fieldname_edit,
    .pagination,
    a.button.toggle-filters,
    #ui-datepicker-div { display: none; }

    .module,
    .module.changelist-filters {
        border: none; 
        background: transparent; }
    .module.changelist-results {
        background: transparent !important; }

    .module.filter { float: none; }
    .module.filter.span-6 { width: auto; }
    .module.filter .pulldown-container { 
        position: relative; 
        border: none; }
    .filter-pulldown { 
        display: block; 
        background: transparent; }
    .filter-pulldown select { width: auto !important; }
    .filter-pulldown label { color: black; }
    .module label { 
        float: left; 
        width: auto !important; 
        line-height: normal; 
        padding: 2px 0 0 0; 
        margin: 0; }

    thead th, 
    tfoot td,
    thead th.sorted,
    .row1 th,
    .row1 td { 
        background: transparent; 
        color: black; }

    thead th.sorted a,
    thead th a:link {
        color: black; }

    .module label:after { content: ":"; }

    select {
        border: none;
        background: white;
        color: black;
        padding: 0; 
        height: auto; 
        vertical-align: baseline; }

    /* copied from a www resource: */
    tr, td, th {page-break-inside: avoid}
    thead {display:table-header-group}
    .NoPrint {visibility:hidden; display:none}
    a {color:#000000}
    body { 
        background: white; 
        color: black; }
    #container {
        width: auto;
        margin: 0 5%;
        padding: 0;
        border: 0;
        float: none !important;
        color: black;
        background: transparent; }
}